//fonts
//=====
@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold_1-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
$title-font: 'montserratbold';
$default-font: 'Open Sans', sans-serif;
body{
    font-family: $default-font;
}
a, a:hover, a:focus{
    text-decoration:none;
    outline:none;
}
h1,h2,h3,h4,h5,h6{
    font-family:$title-font;
    font-weight:normal;
    margin:0;
}
ul, li{
    list-style:none;
    padding:0;
}
.clear-m-b{
    margin-bottom: 0 !important;
}
//header
//======
.navbar-default{
    background:#fff;
    margin:0;
    border:none;
        .navbar-nav > {
            li > a{
                font-family:$title-font;
                color:#545353;
                text-transform:uppercase;
                &:hover{
                    color:#fa7c01;
                }
            }
            li.active a{
                background:none;
                color:#fa7c01;
                &:hover{
                background:none;
                color:#fa7c01;   
                }
            }
        }
}
.navbar-brand{
    padding:0 15px;
}

//banner
//======
.banner-panel{
    text-align: center;
    background:#004fa5;
    h1{
        color:#fff;
    }
    p{
        color:rgba(#fff,.89);
        font-weight: 300;
    }
    .btn-signup, .btn-about{
        font-weight:700;
        display:inline-block;
        @include border-radius(3px); 
        @include transition(all 0.3s linear);
    }
    .btn-signup{
        background:#f49a0b;
        color:#fff;
        font-family: $default-font;
        &:hover{
            background:#fff;
            color:#f49a0b;
        }
    }
    .btn-about{
        @include box-shadow(inset 2px 2px 0 0 #fff, inset -2px -2px 0 0 #fff);
        color:#fff;
        &:hover{
            @include box-shadow(inset 2px 2px 0 0 #f49a0b, inset -2px -2px 0 0 #f49a0b);
            color:#f49a0b;
        }
    }
}

//accounting-tools
//================
.accounting-tools{
    text-align: center;
    h2, h3{
        color:#2c3b50;
        text-transform:uppercase;
        span{
            display:block;
        }
    }
    p{
        color:#7d7d7e;
        span{
            color:#0274c7;
            font-weight: 600;
        }
    }
}

//partners
//========
.ico-dot{
    margin:30px 0;
    display: block;
}
.partners{
    text-align: center;
    h3{
        color:#2c3b50;
    }
    ul{
        padding:0;
        margin:0;
        list-style:none;
    }
    li{
        text-transform:uppercase;
    }
}

//about-xero
//=========
.about-xero{
    position:relative;
    margin:50px auto;
    .xero-logo{
        position:absolute;
        left:0;
        right:0;
        overflow: hidden;
        height:100%;
        background:#02b7e2 url('../images/xero.jpg') no-repeat center;
        background-size: 90%;
        display: block;
        @include border-radius(50%);
        z-index:100;
    }
    .talk-xero, .more-xero{
        position:absolute;
        @include border-radius(50%);
        background:#e5f0f3;
        color:#2c3b50;
        font-family:$title-font;
        top:50%;
        z-index:0;
        align-items:center;
        display:flex;
        text-decoration:underline;
        @include transition(all 0.3s linear);
        text-transform: uppercase;
        border:1px solid #e5f0f3;
        &:hover{
            border:5px solid #02b7e2;
            //z-index:101;
        }        
        .navigation{
            position: absolute;
            top: 50%;
            background-color: #fff;
            text-align: center;
            @include border-radius(50%);
            display: flex;
            align-items: center;
            justify-content: center;
            &::after{
                content: '';
                background-image: url(../images/arrows.png);
                background-repeat: no-repeat;
                width: 20px;
                height: 15px;
            }
            &.prev::after{
                background-position: 0 -16px;
            }
            &.next::after{
                background-position: -20px -16px; 
            }
        }
    }
    .talk-xero:hover{      
        .navigation.prev::after{
            background-position: 0 0;
        }
    } 
    .more-xero:hover{  
        .navigation.next::after{
            background-position: -20px 0; 
        }  
    }

}

//xero-love
//=========
.xero-love{
    background:url('../images/bg-xero-love.jpg') no-repeat center;
    text-align:center;
    h2{
        font-family:$title-font;
        color:#fff;
        text-transform:uppercase;
    }
    p{
        color:rgba(#fff,.7);
    }
}
.arrow-right {
  margin:0 auto;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom:20px solid transparent;
  border-left: 26px solid #fff;
  position:relative;
  cursor:pointer;
  margin-bottom:60px;
  @include transition(all 0.3s linear);
    &:after{
        display:block;
        content:'';
        position: absolute;
        left:-57px;
        top:-40px;
        width:80px;
        height:80px;
        @include border-radius(50%);
        border:3px solid #fff;
        @include transition(all 0.3s linear);
    }
    &:hover{
        border-left: 26px solid #fe8605;
        &:after{
            border-color: #fe8605;
        }
    }
}
.social-media{
    text-align: center;
    h5{
        font-size:12px;
        color:#fff;
        margin:0 0 15px;
    }
    a{
        display: inline-block;
        margin:0 20px;
    }
    .ico-facebook{
        background:url('../images/ico-facebook.png') no-repeat;
        width:12px;
        height:25px;
        &:hover{
            background-position:-12px 0;
        }
    }
    .ico-twitter{
        background:url('../images/ico-twitter.png') no-repeat;
        width:26px;
        height:22px;
        &:hover{
            background-position:-26px 0;
        }
    }
    .ico-linkedin{
        background:url('../images/ico-linkedin.png') no-repeat;
        width:28px;
        height:23px;
        &:hover{
            background-position:-28px 0; 
        }
    }
}

//business-panel
//==============
.business-panel{
    background:#fff;
    text-align: center;
    aside{
        margin-bottom:20px;
    }
    figure{
        
    }
    h3{
        color:#2c3b50;
        font-family:$title-font;
        text-transform:uppercase;
    }
    p{
        color:#7d7d7e;
        font-size: 14px;
    }
}

//pricing-panel
//============
.pricing-panel{
    background:#eaf0f5;
    text-align: center;
    padding:30px;
    h2{
        color:#2c3b50;
        text-transform:uppercase;
    }
    p{
        color: #616f78;
        font-weight: 300;
    }
    .line{
        width:30px;
        height:3px;
        display:inline-block;
        margin:30px auto;
        background:#fe8605;
    }
    aside{
        @include box-shadow(1px 1px 4px rgba(0,0,0,0.22));
        background:#fff;
        h4{
            color:#2c3b50;
            text-transform:uppercase;
            padding:0 5%;
        }
        p.price-content{
            border-bottom:1px solid rgba(0,0,0,0.11);
            color:#7f7f7f;
            margin-bottom:0;
            padding:0 5%;
            font-weight: 400;
        }
    }
    a{
        background:#fe8605;
        color:#fff;
        padding:10px;
        text-align: center;
        display: block;
        margin:0;
        font-family:$title-font;
    }
}
.price{
    sup, p , span{
        font-family:$title-font;
        color:#2c3b50;
    }
    p{
        color:#2c3b50;
        margin:0;
    }
    span.dollar-icon{
        position: relative;
        top: -10px;
    }
}
.user-license-fee{}

//customize
//=========
.line2{
    width:60px;
    height:2px;
    display:inline-block;
    margin:0 auto;
    background:#0066b0;
}
.pricing-panel .container.customize{
    > p{
        color:#616f78;
        margin:0;
    }
    ul{
        padding:0 10px;
    }
    li{
        display:block;
        margin:0 0 7px 0;
        position: relative;
        text-align: left;
        padding-left:10px;
        color:#838e96;
        &:before{
            height:14px;
            width:2px;
            position: absolute;
            left:0;
            top: 3px;
            display: block;
            content:'';
            background:#cacfd2;
        }
    }
}
.condition{
    display:inline-block;
    color:#8e969c;
    font-size:12px;
    text-align: center;
    width:100%;
    clear:both;
    font-weight: 300;
}
//blog-tweet-panel
//================
.blog-tweet-panel{
    background:#0066b0;
    h3{
        color:#fff;
        text-transform: uppercase;
        span{
            width:50px;
            height:2px;
            display:block;
            background:#3dc0f1;
        }
    }
    ul{}
    li a{
        position: relative;
        display: block;
        border-bottom:1px solid #197dc5;
        .title{
            font-weight:600;
            color:#fff;
        }
        .date{
            color:#9ecaeb;
            font-weight:300;
            display: block;
        }
        &:after{
            display:block;
            width:14px;
            height:10px;
            content:'';
            position: absolute;
            right:10px;
            top:50%;
            margin-top:-5px;
            background:url('../images/ico-li-arrow.png') no-repeat 0 0;
        }
        &:hover{
            &:after{
                background-position:right 0;
            }
        }
    }
}

//contact-panel
//=============
.contact-panel{
    h2{
        color:#2c3b50;
    }
    p{
        color:#7d7d7e; 
    }
    input, textarea{
        @include box-shadow(none);
        border:1px solid #cccccc;
        font-size:14px;
        color:#959595;
        width:100%;
    }
    textarea{
        height:80px;
    }
    button{
        background:#ff7e00;
        color:#fff;
        font-family:$title-font;
        text-align: center;
        padding:12px 15px;
        @include border-radius(5px);
        border:none;
        width: 100%;
        @include transition(all 0.3s linear);
        &:hover{
            background:#e48222;
        }
    }
    .contact-map{
        padding: 0;
        #map{
            width: 100%;
            border: none;
        }
    }
}

//footer
//=============
footer{
    background-color: #283140;
    .footer-first-row{
        p{
            font-size: 13px;
            line-height: 22px;
            color: #525c68;
            margin-bottom: 0;
        }
        h3{
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 600;
            color: #7e8796;
            font-family: $default-font;
        }
        ul li a{
            font-size: 12px;
            font-weight: 600;
            display: block;
            word-wrap: break-word;
            color: #fff;
            color: rgba(#fff,.7);
            @include transition(all 0.3s linear);
        }
        ul.address li a{
            font-size: 13px;
        }
        ul li a:hover{
            color: #fff;
        }
    }
    .social-links{
        a{
            @include square(36px);
            line-height: 28px;
            border: solid 2px #fff;
            text-align: center;
            display: inline-block;
            @include opacity(0.3);
            @include border-radius(50%);
            @include transition(all 0.3s linear);
        }
        a:hover{
            @include opacity(1);
        }
    }
    .footer-second-row{
        padding: 20px 0;
        border-top: solid 1px #343d4c;
        color: #525c68;
        .copy-right,
        .footer-links a{
            color: #525c68;
            @include transition(all 0.3s linear);
            font-size: 12px;
        }
        .footer-links a:hover{
            color: #8f98a4;
        }
    }
    .developed-by{
        span{
            color: #525c68;
            font-size: 12px;   
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }
        a{
            @include transition(all 0.3s linear);
            @include opacity(0.4);
            display: inline-block;
        }
        a:hover{
            @include opacity(1);
        }
    }
}


//Popup
//=============
#overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    left: 0;
    top: 0;
    background-color: rgba(#e7e7e7,.9);
    z-index: 999;
}
.popup-box{
    position: absolute;
    height: auto;
    display: none;
    background-color: #fff;
    z-index: 1000;
    iframe{
        border: none;
        width: 100%;
        height: 100%;
    }
}
#loveXeroVideo{
    position: fixed;
}
.popup-close-btn{
    @include square(40px);
    background: url(../images/close-btn.png) no-repeat center center #fff;
    position: absolute;
    right: -40px;
    @include transition(all 0.3s linear);
    cursor: pointer;
    top: 0;
    &:hover{
        background: url(../images/close-btn.png) no-repeat center center #eee;        
    }
}