@media (max-width: $screen-xs-max){  
 //767px
    h1{
        font-size:30px;
        line-height:38px;
    }
    h2{
        font-size:26px;
        line-height:30px;
    }
    h3{
        font-size:18px;
        line-height:24px;
    }
    
    .show-mobile{
        display:block !important;
    }
    .show-desktop{
        display:none !important;
    }
    body{
        font-size:14px;
        font-weight:400;
    }
    .navbar-default{
        min-height:51px;
        .navbar-brand{
            padding-top:5px;
        }
        .navbar-brand > img{
            width:105px;
        }       
    }
    
    //banner
    //======
    .banner-panel{
        padding:30px 0 45px;
        h1{
            margin-bottom:10px;
        }
        p{
            font-size:13px;
            margin-bottom:20px;
        }
        .btn-signup, .btn-about{
            padding:10px 15px;
            margin:0 5px;
        }
        figure{
            display: none;
            width:100%;
            padding:0 30px;
            img{
                width:100%;
            }
        }
    }
    
    //accounting-tools
    //================
    .accounting-tools{
        padding:50px 0;
        h2{
            span{
                margin-bottom:10px;
            }
        }
        h3{
            /*font-size:16px;*/
            img{
                margin:0 10px 0 0;
            }
        }
        p{
        }
    }

    //partners
    //========
    .partners{
        h3{
            margin-bottom:20px;
        }
        ul{
            border:1px solid rgba(0,0,0,0.11);
            overflow: auto;
        }
        li{
            border:1px solid rgba(0,0,0,0.11);
            padding:15px 10px;
            width:50%;
            height:100px;
            display: inline-block;
            float: left;
            align-items:center;
            justify-content:center; 
            display:flex;
            img{
                max-width:100%;
            }
            span{
                display:none;
            }
        }
    }
    
    //about-xero
    //=========
    .about-xero{
        margin:50px auto;
        width:35vw;
        height:35vw;
        .talk-xero, .more-xero{
            width: 30vw;
            height: 30vw; 
            margin-top:-15vw;
            left:-25vw;
            font-size:12px;
            font-family: $default-font;
            .navigation{
                @include square(40px);
                margin-top: -20px;
                border: solid 3px #e5f0f3;
            }
            .prev{
                left: -20px; 
            }
            .next{
                right: -20px;  
            }
        }
        .talk-xero{
            justify-content: left; 
            padding-left: 20px;
            padding-right: 10px;
        } 
        .more-xero{
            justify-content: center; 
            padding-left: 20px;
            padding-right: 10px;
        }
        .more-xero{
            left:auto;
            right:-25vw;
        }
    }
    //xero-love
    //=======
    .xero-love{
        padding:44px 0 50px;
        h2{
            margin-bottom:10px;
        }
        p{
            margin-bottom:60px;
        }
    }

    //business-panel
    //==============
    .business-panel{
        padding:50px 0;
        aside{
            margin-bottom:35px;
            padding-bottom:20px;
            display:inline-block;
            border-bottom:1px solid rgba(0,0,0,0.11);
        }
        aside.business-three{
            margin-bottom:0;
            padding-bottom:0;
            border:none;
        }
        figure{
            margin-bottom:15px;
        }
        h3{
            margin-bottom:15px;
        }
    }

    //pricing-panel
    //============
    .pricing-panel{
        padding:50px 15px;
        h2{
            margin-bottom:10px;
        }
         .container >p{
            margin-bottom:30px;
        }
        .line{
            margin:30px auto 15px;
        }
        aside{
            margin-bottom: 15px;
            figure{
                margin-bottom:30px;
                display:none;
            }
            h4{
                margin-bottom:15px;
                font-size:16px;
            }
            p.price-content{
                 margin:0;
                 padding-bottom:20px;
            }
        }
    } 
    .price{
        padding:10px 0 15px;
       span{
            font-size:30px;
        }
        span.dollar-icon{
            font-size: 24px;
        }
        .amount{
            font-size:45px;
            sup{
                font-size:20px;
                top:-17px;
            }
        }

    } 
    .multi-user-license-fee{
        margin:15px auto;
    }
    .condition{
        font-size:11px;
        color:#8e969c;
        margin:5px 0;
    }
    
    .line2{
        margin:30px auto;
    }
    
    //blog-tweet-panel
    //================
    .blog-tweet-panel{
        padding:50px 0;
        h3{
            margin-bottom:20px;
        }
        li a{
            padding-bottom:10px;
            margin-bottom:10px;
            .title{
                font-size:15px;
                margin-bottom:5px;
            }
            .date{
                font-size:13px;
            }
        }
        .twitter{
            margin-top:20px;
        }
    }
    
    //contact-panel
    //=============
    .contact-panel{
        padding:50px 0;
        h2{
            margin-bottom:10px;
        }
        p{
            margin-bottom:25px;
        }
        h2, p{
            text-align: center;
        }
        .contact-map{
            margin-top: -50px;
            margin-bottom: 20px;
            #map{
                height: 300px;
            }
        }
    }
    
    //footer
    //=============
    footer{
        .footer-first-row{
            padding: 30px 0;
            text-align: center;
            .footer-logo{
                margin-bottom: 20px;
            }
            ul li a{
                margin-bottom: 5px;
            }
            h3{
                margin-bottom: 10px;
            }
        }
        [class*="col-"]{
            margin-bottom: 20px;
        }
    }
    .footer-second-row{
        text-align: center;
        .footer-links a{
            margin: 0 8px;
        }
    }
    
    //Popup
    .popup-box{
        width: 90%;
        left: 5%;
        padding: 10px;
        top: 20%;
    }
    #loveXeroVideo{
        height: 300px;
    }
    .popup-close-btn{
        right: 0;
        top: -40px;
    }

//end
}
 